.parent-container{
    display:flex;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding:10px 20px;
    margin-top:15px;
}
h3{
    font-weight:600;
    font-size:17px;
}

.parent-container span{
    border:1px solid #c9c1c1;
}
.income-section,.expense-section{
    padding:0px 20px;
}

.income-section p{
    color:green;
    font-weight:500;
    font-size:18px;
}

.expense-section p{
    color:red;
    font-weight:500;
    font-size:18px;
}